$textColor: aliceblue;
$textColor2: #000;

$cor1: rgb(31, 4, 4);
$cor2: rgba(104, 69, 5, 0.658);
$cor3: rgba(172, 122, 31, 0.658);
$cor4: rgba(241, 214, 163, 0.658);
$cor5: rgb(77, 2, 27);
$cor6: rgba(228, 177, 194, 0.658);